<link href="{{ url_for('static', path='chat.css') }}" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!DOCTYPE html>
<html>
<head>
	<!--
<link href="{{ url_for('static', path='chat.css') }}" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
-->
</head>
<body>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript">
  var socket = io.connect('http://' + document.domain + ':' + location.port);

  socket.on( 'connect', function() {
    socket.emit( 'my event', {
      data: 'User Connected'
    } )
    var form = $( 'form' ).on( 'submit', function( e ) {
      e.preventDefault()
      let user_name = $( 'input.username' ).val()
      let user_input = $( 'input.message' ).val()
      socket.emit( 'my event', {
        user_name : user_name,
        message : user_input
      } )
      $( 'input.message' ).val( '' ).focus()
    } )

var fform = $(".mytext").on("keyup", function(e){
	console.log("keypressed");
    if (e.which == 13){
        var text = $(this).val();
        if (text !== ""){
	console.log("inside keypressed");
            //insertChat("me", text);              
            $(this).val('');
		var uname = sessionStorage.getItem('userName');
		console.log("username", uname);
      socket.emit( 'my event', {
        user_name : uname,
        message : text
      } )
        }
    }
});

  } )
  socket.on( 'my response', function( msg ) {
    console.log( "msg: ", msg )
    if( typeof msg.user_name !== 'undefined' ) {
      $( 'h3' ).remove()
      //$( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
	    insertChat(msg.user_name, msg.message);
    }
  })

function formatAMPM(date) {
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0'+minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;
    return strTime;
}            




function insertChat(who, text){
    var control = "";
    var date = formatAMPM(new Date());
	var username = sessionStorage.getItem('userName');
    if (who == username){
        
        control = '<li style="width:50%">' +
                        '<div class="msj macro">' +
                            '<div class="text text-l">' +
                                '<p>'+ text +'</p>' + 
		    		'</div>' + 
                                '<p><small>'+date+'</small></p>' +
                            //'</div>' +
                        '</div>' +
                    '</li>';                    
    }else{
        control = '<li style="width:50%;">' +
                        '<div class="msj-rta macro">' +
                            '<div class="text text-r">' +
                                '<p>'+text+'</p>' +
				'</div>' +
				'<p><small>'+date+'</small></p><br/>' +
				'<p><small>'+ " " +username +'</small></p>' +
                            //'</div>' +
                        '<div class="avatar" style="padding:0px 0px 0px 10px !important"></div>' +                                
                  '</li>';
    }
	$("ul").append(control);
    
}

/*
$(".mytext").on("keyup", function(e){
    if (e.which == 13){
        var text = $(this).val();
        if (text !== ""){
            insertChat("me", text);              
            $(this).val('');
        }
    }
});
*/

</script>

<!-- <div class="col-sm-3 col-sm-offset-4 frame"> -->
        <div class="col-12 col-l2-6 col-l2-8 h-100 frame">
            <ul></ul>
            <div>
                <div class="msj-rta macro" style="margin:auto">                        
                    <div class="text text-r" style="background:whitesmoke !important">
                        <input class="mytext" placeholder="Type a message"/>
                    </div> 
                </div>
            </div>
        </div>        
    </body>
</html>

